html {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #618B8C;
  text-decoration: none;
}

.box-shadow {
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, .25);
}

.embed-4by2 {
  padding-top: 56%;
}

footer {
  color: white;
  background-color: #0D4137;
}

h1, h2 {
  font-family: 'Roboto Slab', serif;
  color: #0D4137;
}

header {
  color: white;
  background-color: #0D4137;
}

.hover-box-caption {
  transition: all .1s linear;
  color: white;
}

.hover-box:focus {
  z-index: 10;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  top: 50%;
  left: 0;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: brightness(50%);
}

.hover-box-img {
  transition: all .1s linear;
}

hr {
  display: block;
  margin-left: 3em;
  margin-right: 3em;
  border-width: 2px;
  border-color: #939598;
}

.img-flex {
  max-width: 2500px;
  min-width: 220px;
  padding: 0;
}

.logo a {
  font-family: 'Roboto Slab', serif;
  color: #618B8C;
}

p {
  color: black;
}

u {
  color: #618B8C;
}
