html {
  font-family: Montserrat, sans-serif;
  background-color: #e8dfd6;
}

h1 {
  font-family: "Cherry Swash", cursive;
  color: #fc2e2a;
}

a {
  color: #e8dfd6;
  text-decoration: none;
}

.img-flex {
  max-width: 2500px;
  min-width: 320px;
}

.logo a {
  font-family: "Cherry Swash", cursive;
  color: #fc2e2a;
}

.btn {
  color: #e8dfd6;
  background-color: #052c35;
  max-width: 35em;
  border: 3px solid #0f5f72;
  border-radius: 100px;
}

.btn:hover {
  color: #e8dfd6;
  background-color: #fc2e2a;
  max-width: 35em;
  border: 3px solid #fc2e2a;
  border-radius: 100px;
}

footer {
  color: #e8dfd6;
  background-color: #052c35;
}

p {
  color: #052c35;
}

.hover-box-caption {
  transition: all .1s linear;
  color: #e8dfd6;
}

.hover-box:hover .hover-box-caption,
.hover-box:focus .hover-box-caption {
  top: 50%;
  left: 0;
  text-align: center;
  transform: translateY(-50%);
  width: 100%;
}

.hover-box-img {
  transition: all .1s linear;
}

.hover-box:hover .hover-box-img,
.hover-box:focus .hover-box-img {
  filter: brightness(40%);
}

.hover-box:focus {
  z-index: 10;
}

.video {
  filter: brightness(40%);
}
