<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Sommerfeldesigns</title>
  <meta name="viewpoint" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="css/modules.css" rel="stylesheet">
  <link href="css/grid.css" rel="stylesheet">
  <link href="css/type.css" rel="stylesheet">
  <link href="css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cherry+Swash" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

  <header class="gutter">
    <nav>
      <ol class="list-group-inline pad-t">
        <li class="left logo tera pad-t-1-4"><a href="{{site.baseurl}}">Sommerfeldesigns</a></li>
        <li class="right btn"><a href="{{site.baseurl}}">Contact</a></li>
      </ol>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <footer>
    <div class="text-center pad-t pad-b">
      <small>© Sommerfeldesigns</small>
    </div>
  </footer>

</body>
</html>
