<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} · {% endif %} Sommerfeldesigns · Motion graphics designer and illustrator · Ottawa, Canada</title>
  <meta name="description" content="Sommerfeldesigns: a motion graphics designer and illustrator based in Ottawa.">
  <meta name="viewpoint" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cherry+Swash" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>

  <header class="gutter">
    <nav>
      <ol class="list-group-inline pad-t">
        <li class="left tera pad-t-1-4">
          <a href="{{site.baseurl}}/">
            <li class="left logo tera pad-t-1-4"><a href="{{site.baseurl}}/">Sommerfeldesigns</a></li>
          </a>
        </li>
        <li class="right btn"><a href="{{site.baseurl}}/about/">About</a></li>
      </ol>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <section class="text-center">
    <a href="{{site.baseurl}}/">
      <img class="icon i-64" src="{{site.baseurl}}/images/icons/icons-symbol.svg" alt="">
    </a>
    <a href="mailto:jennifer@sommerfeldesigns.ca">
      <img class="icon i-64" src="{{site.baseurl}}/images/icons/icons-gmail.svg" alt="">
    </a>
    <a href="https://www.linkedin.com/in/jennifer-sommerfeld-b32564130/?trk=public-profile-join-page">
      <img class="icon i-64" src="{{site.baseurl}}/images/icons/icons-linkedin.svg" alt="">
    </a>
    <a href="https://vimeo.com/user71391332">
      <img class="icon i-64" src="{{site.baseurl}}/images/icons/icons-vimeo.svg" alt="">
    </a>
  </section>

  <footer>
    <div>
      <div class="text-center pad-t pad-b footer">
        <small>© Sommerfeldesigns</small>
      </div>
    </div>
  </footer>

</body>
</html>
