<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{ page.title }} · {% endif %} Sommerfeldesigns · Branding, motion graphics designer and illustrator · Ottawa, Canada</title>
  <meta name="description" content="Sommerfeldesigns: a motion graphics designer and illustrator based in Ottawa.">
  <meta name="viewpoint" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/modules.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/type.css" rel="stylesheet">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:300,400" rel="stylesheet">
  <link rel="shortcut icon" href="{{site.baseurl}}/images/favicon.ico"/>
</head>
<body>

  <header class="pad-b pad-t">
    <nav>
      <a class="gutter" href="{{site.baseurl}}/">
        <img class="icon i-64" src="{{site.baseurl}}/images/icons/icons-logo.svg" alt="The Sommerfeldesigns logo">
      </a>
    </nav>
  </header>

  <main>
    {{content}}
  </main>

  <section class="pad-b-1-8 text-center">
    <a href="mailto:jennifer@sommerfeldesigns.ca">
      <img class="icon i-32" src="{{site.baseurl}}/images/icons/icons-mail.svg" alt="The email icon">
    </a>
    <a class="gutter-1-2" href="https://vimeo.com/user71391332">
      <img class="icon i-32" src="{{site.baseurl}}/images/icons/icons-vimeo.svg" alt="The Vimeo icon">
    </a>
    <a href="https://www.linkedin.com/in/jennifer-sommerfeld-b32564130">
      <img class="icon i-32" src="{{site.baseurl}}/images/icons/icons-linkedin.svg" alt="The LinkedIn icon">
    </a>
  </section>

  <footer class="pad-b pad-t text-center">
    <small>© Sommerfeldesigns</small>
  </footer>

</body>
</html>
